body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 2429px;
}

.bold {
  font-weight: 900;
}

.bold-600 {
  font-weight: 600;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-even {
  justify-content: space-evenly;
}

.ancestor {
  width: 274px;
  height: 2429px;
  background-image: url(Assets/1x/Asset\ 2-3.png);
  background-repeat: no-repeat;
}

.highlight {
  color: white;
  background-color: red;
}

.debug {
  border: 1px solid red;
}

.okay {
  border: 1px solid green;
}

.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.zero {
  margin: 0px;
  padding: 0px;
}

.ct {
  text-align: center;
}

.light {
  font-weight: 200;
}

@font-face {
  font-family: "GoodMood";
  src: url("fonts/AQRKDH-GoodMood.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("fonts/APNOII-DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PWSimpleHandwriting";
  src: url("fonts/AONIWL-PWSimpleHandwriting.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("fonts/AEMKEK-DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("fonts/QYPTSW-MyriadPro-Regular.ttf") format("truetype");
}

.font-1 {
  font-family: "GoodMood", sans-serif;
}

.font-2 {
  font-family: "Roboto", sans-serif;
}

.font-3 {
  font-family: "Playpen Sans", cursive;
}

.font-4 {
  font-family: "MyriadPro-Regular", sans-serif;
}

/* DI INSPECT BAGUS */
/* <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slicing 2</title>
    <link rel="stylesheet" href="slicing-2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap&family=Roboto&display=swap" rel="stylesheet" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playpen+Sans&display=swap" rel="stylesheet"> -->
  </head>
  <body class="flex f-col" style="align-items: center">
    <div class="ancestor">
      <div class="c1" style="padding-bottom: 30px">
        <div class="c1-1 flex justify-content-center" style="padding-bottom: 29px">
          <div class="ct flex f-wrap justify-content-center" style="padding-top: 60px; transform: rotate(-3deg); width: 50%">
            <p class="bold zero font-2" style="font-size: 12px">Jurnal #FinanciallyFit ini Milik:</p>
            <p class="font-3 zero" style="font-size: 20px">DION</p>
            <p class="zero" style="border: 0.8px solid black; width: 80%"></p>
          </div>
        </div>

        <div class="c1-2 flex f-wrap justify-content-center" style="padding-bottom: 20px">
          <div class="flex bold" style="width: 100%; justify-content: space-around; align-items: baseline; padding-bottom: 6px">
            <p class="zero font-2" style="font-size: 12px">Kilas Balik</p>
            <p class="zero font-2" style="font-size: 8px">Juni 2022</p>
          </div>
          <div class="" style="padding-bottom: 11px">
            <p class="zero font-3" style="font-size: 9px; text-align: center">Tak terasa sudah masuk bulan yang baru.</p>
            <p class="zero font-3" style="font-size: 9px; text-align: center">Bulan ini harus bisa lebih baik lagi, termasuk</p>
            <p class="zero font-3" style="font-size: 9px; text-align: center">soal keuangan agar bisa Financially Fit.</p>
          </div>
          <div class="">
            <p class="zero font-3" style="font-size: 9px; text-align: center">Ini dia rekap transaksi dan urusan</p>
            <p class="zero font-3" style="font-size: 9px; text-align: center">perbankanku bersama OCBC NISP</p>
            <p class="zero font-3" style="font-size: 9px; text-align: center">bulan kemarin.</p>
          </div>
        </div>

        <div class="flex f-wrap" style="justify-content: center; padding-bottom: 18px">
          <div class="flex f-wrap justify-content-center" style="flex-basis: 100%; padding-bottom: 5px">
            <p class="zero font-3 ct" style="font-size: 12px; width: 50%; letter-spacing: -1px">REKAP BULAN JUNI</p>
            <p class="zero flex" style="border: 0.8px solid black; width: 80%; align-self: center"></p>
          </div>
          <div class="flex" style="flex-basis: 80%; justify-content: space-around">
            <div class="">
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Total saldo gabungan</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Status Nyala</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Level Nyala</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Total Poinseru</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Financial Fitness Score</p>
            </div>
            <p class="zero flex" style="border: 0.8px solid black; height: 70px; align-self: center"></p>
            <div class="">
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Rp50.000.000</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Sudah bergabung</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">Level 3</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">1.500 poin</p>
              <p class="zero font-2" style="font-size: 9px; margin-bottom: 3px">65</p>
            </div>
          </div>
        </div>

        <div class="flex justify-content-center" style="padding-bottom: 9px">
          <p class="font-3 zero" style="color: white; text-align: center; font-size: 8px">DAN INI KILAS BALIK SELENGKAPNYA...</p>
        </div>

        <div class="flex" style="justify-content: space-evenly; padding-bottom: 70px">
          <div class="" style="width: 33%">
            <p class="zero font-3" style="padding-top: 3px; padding-left: 30px; padding-left: 30px; width: 50%; font-size: 5px; text-align: center; transform: rotate(1deg)">TRANSFER</p>
          </div>
          <div class="" style="width: 33%">
            <p class="zero font-3" style="padding-top: 3px; padding-left: 20px; width: 50%; font-size: 5px; text-align: center; transform: rotate(-2deg)">TARIK TUNAI</p>
          </div>
          <div class="" style="width: 33%">
            <p class="zero font-3" style="padding-left: 12px; width: 50%; font-size: 5px; text-align: center; transform: rotate(2deg)">PEMBAYARAN/</p>
            <p class="zero font-3" style="padding-left: 12px; width: 50%; font-size: 5px; text-align: center; transform: rotate(2deg)">PEMBELIAN</p>
          </div>
        </div>

        <div class="flex justify-content-center font-3" style="text-align: center; font-size: 10px; padding-bottom: 25px">
          <p class="zero" style="width: 75%; letter-spacing: -1px; text-align: center">KARENA DAPAT GRATIS TRANSAKSI, INI JUMLAH BIAYA YANG AKU HEMAT</p>
        </div>

        <div class="flex f-col" style="padding-bottom: 16px">
          <div class="flex" style="justify-content: space-around">
            <div class="zero" style="width: 33%">
              <p class="zero ct font-3" style="font-size: 5px; padding: 4px 0px 0px 29px">TRANSFER</p>
            </div>
            <div class="zero" style="width: 33%">
              <p class="zero ct font-3" style="font-size: 5px; padding: 4px 0px 0px 0px">TARIK TUNAI</p>
            </div>
            <div class="zero" style="width: 33%">
              <p class="zero ct font-3" style="width: 50%; font-size: 5px; padding: 1px 0px 0px 7px">PEMBAYARAN/ PEMBELIAN</p>
            </div>
          </div>
          <div class="flex" style="justify-content: space-around">
            <div class="zero" style="width: 33%">
              <p class="zero font-2 bold ct" style="font-size: 10px; padding-left: 29px">Rp60.000</p>
            </div>
            <div class="zero" style="width: 33%">
              <p class="zero font-2 bold ct" style="font-size: 10px">Rp40.000</p>
            </div>
            <div class="zero" style="width: 33%">
              <p class="zero font-2 bold ct" style="font-size: 10px; padding-right: 29px; padding-top: 3px">Rp50.000</p>
            </div>
          </div>
        </div>

        <div class="flex f-col" style="align-items: center; padding-bottom: 60px">
          <p class="zero font-3 ct" style="font-size: 9px; letter-spacing: -1px">TOTALNYA, AKU HEMAT SEBANYAK</p>
          <p class="zero font-2 bold">Rp150.000</p>
        </div>

        <div class="flex f-col" style="align-items: center">
          <div class="flex f-col" style="align-items: center; width: 30%; padding-bottom: 10px">
            <p class="zero font-2" style="font-size: 14px; color: white">SELF-NOTE:</p>
            <p class="zero font-2 ct" style="font-size: 8px; color: white; width: 90%">Biar transaksi jadi lebih gampang,</p>
          </div>
          <p class="zero font-2 bold" style="font-size: 9px; color: rgb(54, 52, 52); text-decoration: underline">
            <a href="#" style="color: rgb(54, 52, 52); text-decoration: underline">DOWNLOAD ONe MOBILE!</a>
          </p>
        </div>
      </div>

      <div class="c2" style="padding-bottom: 105px">
        <div class="flex f-col" style="padding-bottom: 38px">
          <p class="zero font-3 ct" style="font-size: 12px; margin-top: 1px; padding-top: 2px">Thank God,</p>
          <p class="zero font-3 ct" style="font-size: 9px">di <span style="background-color: red; color: white; font-size: 13px">Nyala,</span> aku makin rutin nabung dan investasi.</p>
          <p class="zero font-3 ct" style="font-size: 9px; padding-bottom: 4px">Dari saldo gabungan sekarang, aku termasuk di</p>
          <p class="zero font-2 ct bold" style="font-size: 14px">NYALA LEVEL 4</p>
        </div>

        <div class="flex f-col" style="padding-bottom: 20px">
          <div class="flex justify-content-center f-wrap">
            <p class="zero ct font-2" style="padding: 3px 0px 3px 0px; font-size: 10px; letter-spacing: -0.4px">INI KEUNTUNGAN YANG BISA KUDAPATKAN:</p>
            <p class="zero" style="border: 0.8px solid black; width: 80%"></p>
          </div>
          <div class="flex" style="justify-content: space-around">
            <div class="zero" style="width: 33%">
              <p class="zero font-3 ct bold" style="font-size: 10px; padding-left: 20px; padding-top: 4px">PER BULAN GRATIS</p>
            </div>

            <p class="zero flex" style="border: 0.75px solid black; height: 30px; align-self: center"></p>

            <div class="zero" style="width: 42%; padding-left: 5px">
              <p class="zero font-3" style="font-size: 7px">-Transfer dengan BI-fast</p>
              <p class="zero font-3" style="font-size: 7px">-Tarik tunai</p>
              <p class="zero font-3" style="font-size: 7px">-Pembelian/pembauaran</p>
              <p class="zero font-3" style="font-size: 7px">-Transfer online</p>
            </div>

            <p class="zero flex" style="border: 0.75px solid black; height: 30px; align-self: center"></p>

            <div class="zero" style="width: 25%; padding-left: 5px">
              <p class="zero font-3" style="font-size: 7px">Unlimited</p>
              <p class="zero font-3" style="font-size: 7px">30x</p>
              <p class="zero font-3" style="font-size: 7px">30x</p>
              <p class="zero font-3" style="font-size: 7px">30x</p>
            </div>
          </div>
        </div>

        <div class="flex f-col" style="width: 100%; font-size: 10px; padding-bottom: 130px">
          <p class="zero font-3" style="padding-left: 60px">Ini perjalananku,</p>
          <p class="zero font-3" style="padding-left: 60px">di level sebelumnya:</p>
        </div>

        <div class="flex" style="padding-bottom: 25px">
          <div class="" style="width: 42%"></div>
          <div class="" style="width: 58%">
            <p class="zero font-2 bold" style="font-size: 9px; width: 70%">Lorem Ipsum</p>
            <p class="zero font-2" style="font-size: 8px; width: 70%">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>

        <div class="flex f-wrap" style="justify-content: center; padding-bottom: 20px">
          <div class="" style="flex-basis: 100%; padding-bottom: 7px; padding-right: 3px">
            <p class="bold zero font-3 ct" style="font-size: 20px">GOAL</p>
          </div>
          <div class="flex">
            <p class="zero font-2 ct" style="letter-spacing: -0.1px; font-size: 10px">PERTAHANKAN LEVEL, JANGAN KASIH KENDOR!</p>
          </div>
          <div class="flex" style="align-items: center; width: 100%">
            <div class="zero" style="width: 20%">
              <p class="zero font-2 ct" style="width: 50%; font-size: 6px; padding: 10px 0px 0px 10px">START HERE</p>
            </div>
            <div class="zero" style="width: 20%">
              <p class="zero font-2" style="font-size: 8px; padding: 35px 0px 0px 16px">Level 1</p>
            </div>
            <div class="zero" style="width: 20%">
              <p class="zero font-2" style="font-size: 8px; padding: 35px 0px 0px 11px">Level 2</p>
            </div>
            <div class="zero" style="width: 20%">
              <p class="zero font-2" style="font-size: 8px; padding: 35px 2px 0px 5px">Level 3</p>
            </div>
            <div class="zero" style="width: 20%">
              <p class="zero font-2" style="font-size: 8px; padding: 35px 0px 0px 11px">Level 4</p>
            </div>
          </div>
        </div>
        <div class="">
          <p class="zero font-3 ct bold" style="text-decoration: underline; font-size: 8px; padding: 7px 5px 0px 0px">
            <a href="#" style="text-decoration: none; color: inherit"> NABUNG DAN INVESTASI DI NYALA </a>
          </p>
        </div>
      </div>
      <div class="c3">
        <div class="flex f-col" style="align-items: center; padding-bottom: 30px">
          <p class="zero font-3" style="font-size: 10px">Ternyata <span style="background-color: red; color: white; font-size: 13px">Poinseru</span> aku masih</p>
          <p class="zero font-3" style="font-size: 10px">on-track buat raih wishlist</p>
        </div>

        <div class="flex f-wrap" style="justify-content: space-around">
          <div class="flex justify-content-center" style="width: 58%">
            <p class="zero font-3" style="letter-spacing: -1px; font-size: 11px">INI POIN KU YANG TERKUMPUL</p>
          </div>
          <div class="flex" style="width: 55%">
            <div>
              <p class="zero font-2" style="font-size: 9px">Transaksi elektronik</p>
              <p class="zero font-2" style="font-size: 9px">Kartu debit</p>
              <p class="zero font-2" style="font-size: 9px">Bonus plus</p>
              <p class="zero font-2" style="font-size: 9px">Tabungan</p>
            </div>

            <div class="flex f-col" style="padding-left: 18px">
              <p class="zero font-2 bold" style="text-align: left; font-size: 9px">70 P</p>
              <p class="zero font-2 bold" style="text-align: left; font-size: 9px">85 P</p>
              <p class="zero font-2 bold" style="text-align: left; font-size: 9px">100 P</p>
              <p class="zero font-2 bold" style="text-align: left; font-size: 9px">90 P</p>
            </div>
          </div>

          <p class="zero" style="border: 0.8px solid black; width: 75%; margin-top: 3px; margin-bottom: 2px"></p>

          <div class="flex" style="padding-bottom: 35px">
            <p class="zero font-3" style="font-size: 7px; letter-spacing: -0.5px">TOTAL KESELURUHAN POIN HINGGA BULAN KEMARIN <span class="bold zero font-2" style="letter-spacing: 0px">1.000P</span></p>
          </div>

          <div class="flex" style="padding-bottom: 13px">
            <p class="zero font-2 bold ct" style="font-size: 9px; text-decoration: underline">
              <a href="#" style="text-decoration: none; color: inherit">LIHAT CARA MENGUMPULKAN POIN SERU DI SINI</a>
            </p>
          </div>
        </div>

        <div class="flex f-wrap" style="padding-bottom: 5px">
          <div class="flex" style="width: 100%; align-items: baseline; justify-content: center">
            <div class="zero" style="width: 27%; height: 25%">
              <p class="zero" style="border: 0.8px solid black; width: 100%; height: 0px"></p>
            </div>
            <p class="zero font-3 ct" style="width: 29%; font-size: 12px; letter-spacing: -1px">INI REWARD</p>
            <div class="zero" style="width: 27%; height: 25%">
              <p class="zero" style="border: 0.8px solid black; width: 100%; height: 0px"></p>
            </div>
          </div>
          <div class="flex justify-content-center" style="width: 100%">
            <p class="zero font-3 ct" style="font-size: 10px; letter-spacing: -1px">YANG BISA AKU DAPATKAN:</p>
          </div>
        </div>

        <div class="flex" style="height: 40px; padding-bottom: 78px">
          <div class="flex" style="width: 50%; align-items: center">
            <p class="font-2" style="font-size: 9px; width: 50%; margin: 23px 0px 0px 30px">Voucher Tokopedia</p>
            <p class="zero flex" style="border: 0.8px solid black; height: 20px; align-self: center; margin: 25px 0px 0px 0px"></p>
            <p class="bold font-2 zero" style="font-size: 9px; width: 50%; text-align: center; margin: 24px 0px 0px 0px">10.000 P</p>
          </div>
          <div class="flex" style="justify-content: flex-end; width: 50%; align-items: center">
            <p class="zero font-2" style="font-size: 9px; width: 30%; margin: 13px 10px 0px 10px">Voucher Grab</p>
            <p class="zero flex" style="border: 0.8px solid black; height: 20px; align-self: center; margin: 14px 0px 0px 5px"></p>
            <p class="zero bold font-2" style="font-size: 9px; width: 50%; text-align: center; margin: 14px 19px 0px 0px">10.000 P</p>
          </div>
        </div>

        <div class="flex f-col" style="align-items: center; padding-bottom: 62px">
          <div class="" style="padding-bottom: 8.5px">
            <p class="zero font-3" style="color: white; font-size: 21px">TO DO LIST</p>
          </div>
          <div class="flex f-col" style="width: 60%">
            <p class="zero font-2" style="margin: 0px 0px 0px 15.5px; color: white; font-size: 8px">Daftar Bonus Plus</p>
            <p class="zero font-2" style="margin: 0px 0px 0px 15.5px; color: white; font-size: 8px">Tukar Poinseru</p>
            <p class="zero font-2" style="margin: 0px 0px 0px 15.5px; color: white; font-size: 8px; width: 100%">Perbanyak transaksi buat kumpulin Poin</p>
            <div class="flex" style="align-items: baseline">
              <p class="zero font-2" style="margin: 0px 0px 0px 15.5px; color: white; font-size: 8px">Cek reward lainnya,</p>
              <a class="zero font-2 bold" href="#" style="text-decoration: underline; margin: 0px 0px 0px 3px; color: black; font-size: 9px"> BUKA RAIH.ID</a>
            </div>
          </div>
        </div>

        <div class="flex f-col" style="align-items: center; padding-bottom: 18px">
          <p class="zero font-3" style="font-size: 9px">Harus terus nyalakan semangat,</p>
          <p class="zero font-3" style="font-size: 9px">jangan kasih kendor biar bisa otot-otot</p>
          <p class="zero font-3" style="font-size: 9px">keuangan tetap kuat</p>
          <p class="zero font-3" style="font-size: 9px">Yakin, bulan selanjutnya bisa lebih baik lagi</p>
        </div>

        <div class="flex f-col" style="align-items: center">
          <p class="zero font-3" style="font-size: 10px; color: white">TIDAK ADA YANG TIDAK BISA</p>
          <p class="zero font-3" style="font-size: 10px; color: white; padding-top: 8px">JADI FINANCIALLY FIT</p>
        </div>
      </div>
    </div>
  </body>
</html> */
